.cm-theme  {
  font-family: monospace;
  font-size: 16px;
}

.cm-line.cm-activeLine {
  background-color: transparent !important;
  border: none;
  /* Outros estilos aqui */
}

.cm-gutterElement.cm-activeLineGutter {
  background-color: transparent !important;
  /* Outros estilos aqui */
}